{% include 'header.html' %}

<body>

    <div class="container">


    <h3>Add Dessert</h3>

    {% if dessert %}

    <!-- http://getbootstrap.com/components/#alerts -->

    <div class="alert alert-success" role="alert">

        <p><strong>{{dessert.name}}</strong> successfully created! Add another below.</p>
        <p><a href="/">Back to Dessert List</a></p>

    </div>

    {% endif %}


    <!-- Bootstrap: http://getbootstrap.com/css/#forms -->

    <!-- The form action and method correspond to a Flask route -->
    <form action="/add" method="POST" class="form-inline">

    <div class="form-group">

        <label for="name_id">Name</label>
        <input  class="form-control" id="name_id" name="name_field" type="text" />

    </div>

    <div class="form-group">

        <label for="price_id">Price</label>
        <input class="form-control" id="price_id" name="price_field" type="text" size="4" />

    </div>

    <div class="form-group">

        <label for="cals_id">Calories</label>
        <input class="form-control" id="cals_id" name="cals_field" type="text" size="4" />

    </div>



    <!-- We need a submit button to submit a form! -->
    <input type="submit" value="Add" class="btn btn-success"/>


    </form>


    </div>

</body>